<div class="jumbotron">
  <h1><%= image_tag webpack_asset_path("sample.jpg"), width: 200, height: 200 %></h1>
  <p><i class="fa fa-envira" aria-hidden="true"></i><i class="fa fa-envira" aria-hidden="true"></i></p>
</div>
